@model RobsWebsiteV2.Models.PrismModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApicalAngle</title>
</head>
<body>

<div>
    <h4>PrismModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DegreesDeviation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreesDeviation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApicalAngle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApicalAngle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviationAngle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviationAngle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorizontalDecentration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorizontalDecentration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VerticalDecentration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerticalDecentration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CylinderAxis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CylinderAxis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LensPower)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LensPower)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Decentration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decentration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
